{% extends 'base.html' %}

{% block title %}마이페이지{% endblock %}

{% block content %}
    <div>
        <h2>프로필</h2>
        <p>ID : {{ user.username }}</p>
        <p><a href="{% url 'password_change' %}">비밀번호 변경</a></p>
    </div>
    <div>
        <h2>내 견적</h2>
        <ul>
            {% for set in sets %}
            <li><a href="{% url 'custom:custom_detail' pk=set.id %}">{{ set.text }} | {{ set.create_date|date:'Y년 m월 d일 h:i' }}</a></li>
            {% empty %}
            <li>활동이 없습니다.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>내 댓글</h2>
        <ul>
            {% for ment in ments %}
            <li><a href="{% url 'custom:custom_detail' pk=ment.custom.pk %}">{{ ment }} {{ ment.custom }} {{ ment.create_date|date:'Y년 m월 d일 h:i' }}</a></li>
            {% empty %}
            <li>활동이 없습니다.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}