{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block content %}
<h2>로그인</h2>
<form action=""method="post" class="register login">{% csrf_token %}
    <label for="id_username">Username:</label>
    <span>아이디</span><input type="text" name="username" autofocus maxlength="254" required id="id_username" />
    <label for="id_password">Password:</label>
    <span>비밀번호</span><input type="password" name="password" required id="id_password" />
    {% if form.errors %}
        <p class="error_ms">아이디와 비밀번호가 일치하지 않습니다.</p>
    {% endif %}
    <button type="submit" class="button_st form_button">로그인</button>
    <input type="hidden"name="next"value="{{next}}">
    <div>
        <h3>메니저 계정</h3>
        <p>id: manager<br>pw: guest1234</p>
        <h3>일반회원 계정</h3>
        <p>id: member<br>pw: guest1234</p>
    </div>
</form>
{% endblock %}