{% extends 'base.html' %}

{% block content %}
<h1>비밀번호 변경</h1>
<form action=""method="post" class="register">{% csrf_token %}
    <label for="id_old_password">Old password:</label>
    <span>현재 비밀번호</span><input type="password" name="old_password" autofocus required id="id_old_password" />
    <label for="id_new_password1">New password:</label>
    <span>새로운 비밀번호</span><input type="password" name="new_password1" required id="id_new_password1" />
    <label for="id_new_password2">New password confirmation:</label>
    <span>비밀번호 확인</span><input type="password" name="new_password2" required id="id_new_password2" />
    <button type="submit" class="button_st form_button">변경하기</button>
</form>
{% endblock %}