{% extends 'base.html' %}
{% block content %}
<h2>회원가입</h2>
<form action=""method="post" class="register">{% csrf_token %}
    <label for="id_username">Username:</label>
    <span>아이디</span><input type="text" name="username" maxlength="150" autofocus required id="id_username" /><button class="id_check button_st" onclick="CheckId()" type="button">중복확인</button>
    <span id="id_result"></span>
    <label for="id_password1">Password:</label>
    <span>비밀번호</span><input type="password" name="password1" required id="id_password1" />
    <label for="id_password2">Password confirmation:</label>
    <span>비밀번호 확인</span><input type="password" name="password2" required id="id_password2" />
    <button type="submit" class="form_button button_st">회원가입</button>
</form>
<script>
    // todo 입력오류잡기
    function CheckId() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            obj = JSON.parse(this.responseText);
            console.log()
                for (var i=0;i<=obj['id'].length;i++) {
                    if (obj['id'][i] === $('input#id_username').val()) {
                        $('span#id_result').text('중독되는 아이디가 있습니다.')
                        $('span#id_result').css('color','#ff3300')
                        break
                    } else if ($('input#id_username').val() === '') {
                        $('span#id_result').text('아이디를 입력해 주세요.')
                        $('span#id_result').css('color','#ff3300')
                    } else if ($('input#id_username').val().length < 5 ) {
                        $('span#id_result').text('아이디가 너무짧습니다.')
                        $('span#id_result').css('color','#ff3300')
                    } else {
                        $('span#id_result').text('사용가능한 아이디입니다.')
                        $('span#id_result').css('color','#00cc00')
                    }
            }
        }
      };
      xhttp.open("GET", "{% url 'get_id' %}", true);
      xhttp.send();
    }
</script>
{% endblock %}