{% extends 'manager/manager_home.html' %}

{% block manager %}
<h1>호환성 필터 관리</h1>
<a href="{% url 'manager_compa_new' %}">필터추가</a>
{% verbatim %}
<div ng-app="comApp" ng-controller="compCtrl">
    <p><input type="text" ng-model="compsearch"></p>
    <table>
        <tr>
            <th ng-click="orderByMe('pk')">ID</th>
            <th ng-click="orderByMe('fields.comp_mode')">필터</th>
            <th ng-click="orderByMe('fields.hardware')">제품이름</th>
            <th>삭제</th>
        </tr>
        <tr ng-repeat="x in comp|orderBy:myOrderBy|filter:compsearch">
            <td>{{x.pk}}</td>
            <td><a href="/manager/compatible/{{x.pk}}/edit">{{x.fields.comp_mode}}</a></td>
            <td><a href="/manager/compatible/{{x.pk}}/edit">{{x.fields.hardware}}</a></td>
            <td><a href="/manager/compatible/{{x.pk}}/remove"><button>삭제</button></a></td>
        </tr>
    </table>
</div>
{% endverbatim %}
<p>*제품이름이나 필터를 클릭하면 수정할 수 있습니다.</p>
<script>
    var app = angular.module('comApp', []);
    app.controller('compCtrl', function($scope, $http) {
        $http.get('{% url "get_data" %}').then(function (response){
            $scope.comp = JSON.parse(response.data.comp);
            $scope.hw = JSON.parse(response.data.hardware);
            for (var i=0;i<$scope.comp.length;i++){
                $scope.comp[i]['fields']['hardware'][0]
                for (var k=0;k<$scope.hw.length;k++){
                    if ($scope.comp[i]['fields']['hardware'][0] == $scope.hw[k]['pk']) {
                        $scope.comp[i]['fields']['hardware'] = $scope.hw[k]['fields']['name']
                    }
                }
            }
            $scope.orderByMe = function(x) {
                $scope.myOrderBy = x;
            };
        });
    });
</script>
{% endblock %}