{% extends 'manager/manager_home.html' %}

{% block manager %}
<h1>전체 견적</h1>
{% verbatim %}
<div ng-app="setApp" ng-controller="setCtrl">
    <table>
        <tr>
            <th>ID</th>
            <th>견적</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr ng-repeat="x in sets">
            <td>{{ x.pk }}</td>
            <td><a href="/custom/{{ x.pk }}/detail">{{ x.title }}...</a></td>
            <td>{{ x.id }}</td>
            <td>{{ x.fields.create_date|date:'yyyy.M.d h:m' }}</td>
        </tr>
    </table>
    <div class="button_area">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
        {{currentPage+1}}/{{numberOfPage()}}
        <button ng-disabled="currentPage >= sets.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
    </div>
</div>
{% endverbatim %}
<script>
    var app = angular.module('setApp', []);

    app.controller('setCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.sets = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.sets.length/$scope.pageSize);
        };
        $scope.orderByMe = function(x) {
                $scope.myOrderBy = x;
        };
        $http.get('{% url "set" %}').then(function (response){
            $scope.set = JSON.parse(response.data.set);
            $scope.id = JSON.parse(response.data.id);
            $scope.sets = $scope.set
            for (var i=0;i<$scope.sets.length;i++) {
                $scope.sets[i]['title'] = $scope.sets[i]['fields']['text'].slice(0,10)
                for (var k=0;k<$scope.id.length;k++) {
                    if ($scope.sets[i]['fields']['user'] === $scope.id[k]['pk']) {
                        $scope.sets[i]['id'] = $scope.id[k]['fields']['username']
                    }
                }
            }
        });
    });

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}