{% extends 'base.html' %}

{% block title %}<a href="{% url 'manager_page' %}">Manager</a>{% endblock %}

{% block bootstrap %}
<!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'manager_hardware_list' %}">제품목록</a></li>
            <li><a href="{% url 'manager_compa_list' %}">호환성 필터 관리</a></li>
            <li><a href="{% url 'manager_user_list' %}">유저목록</a></li>
            <li><a href="{% url 'manager_stat' %}">통계</a></li>
        </ul>
    </div>
</nav>
<div class="clearfix">
    {% block manager %}
    <div class="manager_left">
        <h2><a href="{% url 'manager_set_list' %}">전체 견적</a></h2>
        <table>
            <tr>
                <th>ID</th>
                <th>견적</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            {% for set in sets %}
            <tr>
                <td>{{set.id}}</td>
                <td><a href="{% url 'custom:custom_detail' pk=set.pk%}">{{set}}</a></td>
                <td>{{set.user}}</td>
                <td>{{set.create_date|date:'Y.m.d h:i'}}</td>
            {% empty %}
                <td>없음</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="manager_right">
        <h2><a href="{% url 'manager_comment_list' %}">전체 댓글</a></h2>
        <table>
            <tr>
                <th>ID</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            {% for ment in ments %}
            {% if ment.custom %}
            <tr>
                <td>{{ ment.id }}</td>
                <td><a href="{% url 'custom:custom_detail' pk=ment.custom.pk%}">{{ ment }}...</a></td>
                <td>{{ ment.author }}</td>
                <td>{{ ment.create_date|date:'Y.m.d h:i' }}</td>
            </tr>
            {% elif ment.board %}
            <tr>
                <td>{{ ment.id }}</td>
                <td><a href="{% url 'board:board_detail' pk=ment.board.pk%}">{{ ment }}...</a></td>
                <td>{{ ment.author }}</td>
                <td>{{ ment.create_date|date:'Y.m.d. h:i' }}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="4">없음</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
</div>
{% endblock %}