{% extends 'manager/manager_home.html' %}

{% block manager %}
<h1>제품목록</h1>
<a href="{% url 'manager_hardware_new' %}">제품등록</a>
{% verbatim %}
<div ng-app="myApp" ng-controller="namesCtrl">
    <p><input type="text" ng-model="hwsearch"></p>
    <table>
        <tr>
            <th ng-click="orderByMe('pk')">ID</th>
            <th ng-click="orderByMe('fields.name')">품명</th>
            <th ng-click="orderByMe('fields.hardware_kind')">종류</th>
            <th>삭제</th>
        </tr>
        <tr ng-repeat="x in names|startFrom:currentPage*pageSize|limitTo:pageSize|filter:hwsearch|orderBy:myOrderBy">
            <td>{{ x.pk }}</td>
            <td><a href="/manager/hardware/{{ x.pk }}/edit">{{x.fields.name}}</a></td>
            <td>{{x.fields.hardware_kind}}</td>
            <td><a href="/manager/hardware/{{ x.pk }}/remove"><button>삭제</button></a></td>
        </tr>
    </table>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">이전</button>
    {{currentPage+1}}/{{numberOfPage()}}
    <button ng-disabled="currentPage >= names.length/pageSize - 1" ng-click="currentPage=currentPage+1">다음</button>
</div>
{% endverbatim %}
<p>*제품이름을 클릭하면 수정할 수 있습니다.</p>
<script>
    var app = angular.module('myApp', []);

    app.controller('namesCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.names = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.names.length/$scope.pageSize);
        };
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        };
        $http.get('{% url "get_data" %}').then(function (response){
            data = JSON.parse(response.data.hardware);
            for (var i=0;i<data.length;i++) {
                $scope.names.push(data[i])
            }
        });
    });

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}