{% extends 'manager/manager_home.html' %}

{% block manager %}
<h1>호환성 필터 관리</h1>
<a href="{% url 'manager_compa_new' %}" class="button_st">필터추가</a>
{% verbatim %}
<div ng-app="comApp" ng-controller="compCtrl">
    <p><input type="text" ng-model="compsearch"></p>
    <table>
        <tr>
            <th ng-click="orderByMe('pk')">ID</th>
            <th ng-click="orderByMe('fields.comp_mode')">필터</th>
            <th ng-click="orderByMe('fields.hardware')">제품이름</th>
            <th>삭제</th>
        </tr>
        <tr ng-repeat="x in comp|startFrom:currentPage*pageSize|limitTo:pageSize|filter:hwsearch|orderBy:myOrderBy">
            <td>{{x.pk}}</td>
            <td><a href="/manager/compatible/{{x.pk}}/edit">{{x.fields.comp_mode}}</a></td>
            <td><a href="/manager/compatible/{{x.pk}}/edit">{{x.fields.hardware}}</a></td>
            <td><a href="/manager/compatible/{{x.pk}}/remove"><button class="button_st">삭제</button></a></td>
        </tr>
    </table>
    <div class="button_area">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
        {{currentPage+1}}/{{numberOfPage()}}
        <button ng-disabled="currentPage >= comp.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
    </div>
</div>
{% endverbatim %}
<p>*제품이름이나 필터를 클릭하면 수정할 수 있습니다.</p>
<script>
    var app = angular.module('comApp', []);

    app.controller('compCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.comp = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.comp.length/$scope.pageSize);
        };
        $scope.orderByMe = function(x) {
                $scope.myOrderBy = x;
        };
        $http.get('{% url "get_data" %}').then(function (response){
            data = JSON.parse(response.data.comp);
            hw = JSON.parse(response.data.hardware);
            for (var i=0;i<data.length;i++){
                data[i]['fields']['hardware'][0]
                for (var k=0;k<hw.length;k++){
                    if (data[i]['fields']['hardware'][0] == hw[k]['pk']) {
                        data[i]['fields']['hardware'] = hw[k]['fields']['name']
                        $scope.comp.push(data[i])
                    };
                };
            };
        });
    });

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}