{% extends 'manager/manager_home.html' %}

{% block manager %}
<h1>전체 댓글</h1>
{% verbatim %}
<div ng-app="commentApp" ng-controller="commentCtrl">
    <table>
        <tr>
            <th>ID</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr ng-repeat="x in comment">
            <td>{{ x.pk }}</td>
            <td><a href="{{ x.url }}">{{ x.title }}...</a></td>
            <td>{{ x.id }}</td>
            <td>{{ x.fields.create_date|date:'yyyy.M.d h:m' }}</td>
        </tr>
    </table>
    <div class="button_area">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
        {{currentPage+1}}/{{numberOfPage()}}
        <button ng-disabled="currentPage >= comment.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
    </div>
</div>
{% endverbatim %}
<script>
    var app = angular.module('commentApp', []);

    app.controller('commentCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.comment = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.comment.length/$scope.pageSize);
        };
        $scope.orderByMe = function(x) {
                $scope.myOrderBy = x;
        };
        $http.get('{% url "comment" %}').then(function (response){
            $scope.ment = JSON.parse(response.data.ment);
            $scope.id = JSON.parse(response.data.id);
            $scope.comment = $scope.ment
            for (var i=0;i<$scope.comment.length;i++) {
                $scope.comment[i]['title'] = $scope.comment[i]['fields']['text'].slice(0,10)
                if ($scope.comment[i]['fields']['board']) {
                    pk = $scope.comment[i]['fields']['board']
                    $scope.comment[i]['url'] = '/board/'+pk+'/detail/';
                } else if ($scope.comment[i]['fields']['custom']) {
                    pk = $scope.comment[i]['fields']['custom']
                    $scope.comment[i]['url'] = '/custom/'+pk+'/detail/';
                }
                for (var k=0;k<$scope.id.length;k++) {
                    if ($scope.comment[i]['fields']['author'] === $scope.id[k]['pk']) {
                        $scope.comment[i]['id'] = $scope.id[k]['fields']['username']
                    }
                }
            }
        });
    });

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>

{% endblock %}