{% extends 'board/board_home.html' %}

{% block board %}
<h1 class="board_title">{% for cate in ctgrs %}{% if ctgr == cate.id|stringformat:"i" %}{{ cate }}{% endif %}{% endfor %}</h1>
{% verbatim %}
<div class="board_cate_list" ng-app="boardApp" ng-controller="boardCtrl">
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>등록일</th>
        </tr>
        <tr ng-repeat="board in boards|startFrom:currentPage*pageSize|limitTo:pageSize|orderBy:'-fields.created_date'">
            <td>{{ board.pk }}</td>
            <td><a href="{{ board.pk }}/detail">{{ board.fields.title }}</a></td>
            <td>{{ board.username }}</td>
            <td>{{ board.fields.created_date|date:'y.M.d h:m' }}</td>
        </tr>
    </table>
    <div class="button_area">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
        {{currentPage+1}}/{{numberOfPage()}}
        <button ng-disabled="currentPage >= boards.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
    </div>
</div>
{% endverbatim %}
{% if user.is_authenticated %}
<div class="board_home_new">
    <a href="{% url 'board:board_new' %}" class="board_new button_st">새글쓰기</a>
</div>
{% endif %}
<script>
    var app = angular.module('boardApp', []);

    app.controller('boardCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.boards = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.boards.length/$scope.pageSize);
        };
        $http.get('{% url "board:board_list_data" %}').then(function (response){
            $scope.data = JSON.parse(response.data.boards);
            $scope.id = JSON.parse(response.data.id);
            for (var i=0;i<$scope.data.length;i++) {
                if ($scope.data[i]["fields"]["category"] == {{ ctgr }} ) {
                    $scope.boards.push($scope.data[i])
                }
            }
            for (var i=0;i<$scope.boards.length;i++) {
                for (var k=0;k<$scope.id.length;k++) {
                    if ( $scope.boards[i]['fields']['author'] === $scope.id[k]['pk']) {
                        $scope.boards[i]['username'] = $scope.id[k]['fields']['username']
                    }
                }
            } 
        });
    });
    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}