{% extends 'base.html' %}
{% block content %}
<div>
  <p>
    <h3>저장한 견적과 유저들이 작성한 글을 열람할 수 있는데 게시판입니다.</h3>
    *각 게시판마다 AngularJS 를 이용하였습니다.<br>
    <b>언어: Java Script 라이브러리: AngularJS</b>
  </p>
</div>
<div class="board_list_nav clearfix">
    <h3><a href="{% url 'board:board_home' %}">전체보기</a> | <a href="{% url 'board:board_set_list' %}">견적게시판</a> |{% for ctgr in ctgrs %} <a href="{% url 'board:board_list' %}?category={{ ctgr.id }}">{{ ctgr.name }} </a> |{% endfor %}</h3>
</div>
    {% block board %}
    <div class="board_list clearfix">
        {% verbatim %}
        <div class="board_list_ctgr d_style" ng-app="homeApp" ng-controller="homeCtrl">
            <h1>게시판</h1>
            <table>
                <tr>
                    <th>번호</th>
                    <th>견적</th>
                    <th>글쓴이</th>
                    <th>카테고리</th>
                    <th>작성일</th>
                </tr>
                <tr ng-repeat="board in boards|startFrom:currentPage*pageSize|limitTo:pageSize|orderBy:'-fields.created_date'">
                    <td>{{ board.pk }}</td>
                    <td><a href="{{ board.pk }}/detail">{{ board.fields.title }}</a></td>
                    <td>{{ board.username }}</td>
                    <td>{{ board.ctgr }}</td>
                    <td>{{ board.fields.created_date|date:'y.M.d h:m' }}</td>
                </tr>
            </table>
            <div class="button_area">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
                {{currentPage+1}}/{{numberOfPage()}}
                <button ng-disabled="currentPage >= boards.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
            </div>
        {% endverbatim %}
            {% if user.is_authenticated %}
            <div class="board_home_new">
                <a href="/board/new/" class="board_new button_st">새글쓰기</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
<script>
    var app = angular.module('homeApp', []);

    app.controller('homeCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.boards = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.boards.length/$scope.pageSize);
        };
        $http.get('{% url "board:board_list_data" %}').then(function (response){
            $scope.data = JSON.parse(response.data.boards);
            $scope.id = JSON.parse(response.data.id);
            $scope.ctgr = JSON.parse(response.data.ctgrname);
            $scope.boards = $scope.data
            for (var i=0;i<$scope.boards.length;i++) {
                for (var k=0;k<$scope.id.length;k++) {
                    if ( $scope.boards[i]['fields']['author'] === $scope.id[k]['pk']) {
                        $scope.boards[i]['username'] = $scope.id[k]['fields']['username']
                    }
                    if ( $scope.boards[i]['fields']['category'] === $scope.ctgr[k]['pk'] ){
                        $scope.boards[i]['ctgr'] = $scope.ctgr[k]['fields']['name']
                    }
                }
            } 
        });
    });
    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}