{% extends 'board/board_home.html' %}

{% block board %}
<div class="board_detail">
    <h2>{{ board.title }}</h2>
    <p class="d_info">작성자 : {{ board.author }} 작성일 : {{ board.created_date|date:'Y년 m월 d일 h:i' }} {% if board.modified_date %}| 수정일 : {{ board.modified_date|date:'Y년 m월 d일 h:i' }}{% endif %}</p>
    <p class="d_text">{{ board.text }}</p>
    <p class="board_nav"><a href="{% url 'board:board_list' %}" class="button_st">목록</a><a href="{% url 'board:board_edit' pk=board.pk %}" class="button_st">수정</a><a href="{% url 'board:board_remove' pk=board.pk %}" class="button_st">삭제</a></p>
</div>
    <div class="comment_area clearfix">
        {% if user.is_authenticated %}
        <h3>댓글</h3>
        {% include "custom/add_comment.html" %}
        {% endif %}
    </div>
    {% for comment in board.board_comments.all %}
    <div class="a_comment">
        <p class="comment_info">{{comment.author}} | {{comment.create_date|date:'Y년 m월 d일 h:i'}}</p>
        <p class="comment_text">{{comment.text}}</p>
        {% if user == set.user or user == comment.author or user.is_superuser %}
        <a href="#" class="ment_re button_st" id="{{ comment.id }}">댓글삭제</a>
        {% endif %}
    </div>
    {% empty %}
    <div class="a_comment">
        <p>등록된 댓글이 없습니다.</p>
    </div>
    {% endfor %}
<script>
    $('a.ment_re').click(function() {
        ment = confirm('정말 삭제하시겠습니까?')
        pk = $('a.ment_re').attr('id')
        if (ment === true) {
            location.href="/board/"+pk+"/comment/remove"
        } else {
            alert('취소되었습니다.')
        }
    })
</script>
{% endblock %}