{% extends 'board/board_home.html' %}

{% block board %}
<h1>견적게시판</h1>
{% verbatim %}
<div class="board_set_list" ng-app="setApp" ng-controller="setCtrl">
    <table>
        <tr>
            <th>번호</th>
            <th>견적</th>
            <th>글쓴이</th>
            <th>등록일</th>
        </tr>
        <tr ng-repeat="set in sets|startFrom:currentPage*pageSize|limitTo:pageSize">
            <td>{{ set.pk }}</td>
            <td><a href="/custom/{{ set.pk }}/detail">{{ set.title }}</a></td>
            <td>{{ set.username }}</td>
            <td>{{ set.fields.create_date|date:'y.M.d h:m' }}</td>
        </tr>
    </table>
    <div class="button_area">
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button_st">이전</button>
    {{currentPage+1}}/{{numberOfPage()}}
    <button ng-disabled="currentPage >= sets.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button_st">다음</button>
    </div>
    <a href="/" class="button_st">견적작성하기</a>
    <p>*견적게시판은 회원님들의 견적만 게시합니다.</p>
</div>
{% endverbatim %}
<script>
    var app = angular.module('setApp', []);

    app.controller('setCtrl', function($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.sets = []
        $scope.numberOfPage = function() {
            return Math.ceil($scope.sets.length/$scope.pageSize);
        };
        $http.get('{% url "board:board_list_data" %}').then(function (response){
            $scope.data = JSON.parse(response.data.sets);
            $scope.id = JSON.parse(response.data.id);
            for (var i=0;i<$scope.data.length;i++) {
                if ($scope.data[i]['fields']['text'] != '') {
                    $scope.sets.push($scope.data[i])
                    $scope.sets[i]['title'] = $scope.data[i]['fields']['text'].slice(0,10)
                } else if ($scope.data[i]['fields']['text'] === '') {
                    $scope.sets.push($scope.data[i])
                    for (var k=0;k<$scope.id.length;k++) {
                        if ($scope.data[i]['fields']['user'] === $scope.id[k]['pk']) {
                            $scope.sets[i]['title'] = $scope.id[k]['fields']['username']
                        }
                    }
                }
                for (var k=0;k<$scope.id.length;k++) {
                    if ( $scope.sets[i]['fields']['user'] === $scope.id[k]['pk']) {
                        $scope.sets[i]['username'] = $scope.id[k]['fields']['username']
                    }
                }
            }
        });
    });

    app.filter('startFrom', function() {
        return function(input, start) {
            start = +start;
            return input.slice(start);
        };
    });
</script>
{% endblock %}