 /* init */
 @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
article,aside,details,figcaption,figure,
footer,header,main,nav,section { 
    display:block;
} 
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 1em;
	font-family: 'Noto Sans KR', sans-serif;
}
a {
	color: #464646;
	text-decoration: none;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
} 
h1 {
    text-align: center;
}
img {
	vertical-align: top; /*이미지로 인한 오류를 위한 초기화 위로 정렬*/
	border: 0; /*IE10 이하 이미지링크의 태두리 오류때문에 사용*/
}
p {
  text-align: justify;
  margin: 0;
}
address {
	font-style: normal;
}
.clearfix {
	*zoom:1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
h2 {
    text-align: center;
    margin-bottom: 0.5em;
}
ul {
	padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
label {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
div.button_area {
    text-align: center;
    width: 50%;
    margin: 1em auto 0;
}
.button_st {
    color: #fff;
    background: #99ccff;
    padding: 0.2em;
    transition: 0.5s;
    border: none;
}
.button_st:hover {
    background: #4da6ff
}
.d_style {
    padding: 0.5em;
    border-top: 1px solid #888;
    box-shadow: 3px 3px 1px #888;
    margin-bottom: 1.5em;
}
.d_info {
    font-size: 0.7em;
    text-align: right;
}
.d_text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.uselabel {
    label {
        position: static;
    }
}
// table default
table {
    border-collapse: collapse;
    width: 100%;
    th,td {
        padding: 0.25em 0.15em;
    }
    th {
        border-top: 1px solid #1e1e1e;
        border-bottom: 1px solid #e4e4e4;
        text-align: center;
    }
    td {
        border-bottom: 1px solid #e4e4e4;
        text-align: center;
    }
}

// html
header {
    background: #c4c4c4;
    li a {
        color: #fff;
    }
    nav {
        div.headnav_left {
            float: left;
            li {
                display: inline-block;
            }
        }
        div.headnav_right {
            float: right;
            li {
                display: inline-block;
            }
        }
    }
}
div.base_logo_area {
    background: #e4e4e4;
    line-height: 6em;
    text-align: center;
}
div.content_area {
    padding: 0.5em 0.5em 0 0.5em;
    margin: 1.5em 0 2em;
}
footer {
    margin-top: 5em;
    background:#333;
    height: 5em;
    line-height: 5em;
    p {
        color:#fff;
        text-align: center;
    }
}
// custom_new
div.left_section_button {
    form {
        margin-bottom: 2em;
    }
    li {
        background: #99ccff;
        padding: 0.35em;
        color: #fff;
        margin: 0.2em;
        transition: 0.5s;
    }
    li:hover {
        background: #4da6ff;
        cursor: pointer;
    }
    select {
        border: 1px solid #e4e4e4;
        width: 100%;
    }
}
div.center_section {
    display: none;
    li {
        padding: 0.35em;
        margin: 0.2em;
    }
    span.chosen_hw {
        color: #333;
        background: #e4e4e4;
        padding: 0 0.45em 0;
    }
}
div.right_section {
    margin-top: 2em;
}
button#custom_check, button#fake_set {
    margin-top: 0.5em;
    border: none;
    display: block;
    width: 100%;
    height: 3em;
    color: #fff
}
// board_home
div.board_list_nav {
    padding: 0.5em 0 0.5em;
    border-bottom: 1px solid #464646;
    margin-bottom: 1.5em;
    h1 {
        float: left;
    }
    a.board_new {
        float: right;
        transition: 0.5s;
        padding: 0.3em;
        margin: 0.5em;
    }
    a.board_new:hover {
        background: #99ccff;
        color: #fff;
    }
}
// board_list
h1.board_title {
    margin-top: 1em;
}
div.board_list {
    margin-top: 1.5em;
    h1 {
        margin-bottom: 0.5em;
        font-size: 1.7em;
        a{
            margin-bottom: 0.2em;
        }
        a:hover {
            border-bottom: 1px solid #464646;
        }
    }
    div.board_list_ctgr {
        padding: 1.5em 1em 1.5em;
        width: 98%;
        margin: 0.5em;
        margin-bottom: 2em;
        td {
            font-size: 0.9em;
        }
    }
}


// custom_detail
div.set_detail_left {
    h2 {
        display: inline-block;
        border-bottom: 1px solid #888;
    }
    div.detail_share {
        float: left;
    }
    div.detail_nav {
        float: right;
    }
    ul.d_text {
        li {
            margin-bottom: 0.5em;
            height: 5em;;
            line-height: 5em;
            font-size: 0.7em;
        }
        span {
            display: block;
            background: #99ccff;
            color: #fff;
            padding-left: 1em;
            margin-bottom: 0.5em; 
        }
    }
}

div.comment_area {
    margin-top: 1em;
    border-top: 1px solid #888;
    form {
        textarea {
            resize: none;
            width: 75%;
            height: 5em;
            float: left;
        }
        button.save_button {
            width: 25%;
            height: 5em;
            float: right;
            border: none;
            background: #99ccff;
            color: #fff;
            transition: 0.5s;
        }
        button.save_button:hover {
            background: #4da6ff;
        }
    }
}
div.a_comment {
    border-top: 1px solid #888;
    margin-top: 1.5em;
    padding: 1em 0 1em;
    p {
        font-size: 0.9em;
    }
    p.comment_info {
        margin-bottom: 1em;
        span {
            float: right;            
        }
    }
    p.comment_text {
        border: 1px solid #eee;
        margin-bottom: 1em;
    }
}
div.set_detail_right {
    display: none;
}
// board_detail
div.board_detail {
    h2 {
        display: inline-block;
        border-bottom: 1px solid #888;
    }
}

// member_page
div.member_home {
    div.member_sect1 {
        img {
            display: block;
            width: 50%;
            margin: auto;
            border-radius: 50%;
        }
        p {
            text-align: center;
            margin: 1em 0 1em;;
        }
    }
    div.member_sect2 {
        div.member_info1 {
            margin-bottom: 1.5em;
        }
        div.member_info2 {
            margin-bottom: 1.5em;
        }
        div {
            a, td {
                font-size: 0.9em;
            }
        }
    }
}
// register
form.register {
    width: 80%;
    margin: auto;
    span {
        display: block;
    }
    input {
        width: 100%;
        height: 2.5em;
        text-align: center;
        margin-bottom: 1.5em;
    }
    button.id_check {
        float: right;
        width: 25%;
        height: 2.5em;
    }
    select {
        width: 100%;
    }
    textarea {
        resize: none;
        width: 100%;
        height: 10em;
    }
}
// login 
form.login {
    input#id_username {
        width: 100%;
    }
}
button.form_button {
    width: 100%;
    margin-top: 1.5em;
    display: block;
    height: 3em;
}
// logout , register_done
div.done_div {
    padding: 1.5em 0 1.5em;
    h1 {
        font-weight: 400;
    }
}
// response
// tablet
@media all and (min-width: 768px) {
    form.register {
        width: 50%;
    }
    // custom_new
    div.left_section {
        float: left;
        width: 49%;
        transition: 0.5s;
    }
    div.center_section {
        float: right;
        width: 49%;
        display: block;
        transition: 0.5s;
        span.chosen_hw {
            display: block;
        }
    }
    // custom_detail
    div.set_detail_left li {
        transition: 0.5s;
        margin-bottom: 1em!important;
        height: 3.5em!important;
        line-height: 3.5em!important;
        font-size: 0.9em!important;
    }
    // manager 
    div.manager_left {
        float: left;
        width: 49%;
    }
    div.manager_right {
        float: right;
        width: 49%;
    }
    // member
    div.member_home {
        div.member_sect1 {
            width: 50%;
            margin: 0 auto 1.5em;;
        }
        div.member_sect2 {
            div.member_info1 {
                float: left;
                width: 49%;
                height: 25em;
            }
            div.member_info2 {
                float: right;
                width: 49%;
                height: 25em;
            }
        }
    }
}
// desktop
@media all and (min-width:1030px) {
    // custom_new
    div.main {
        position: relative;
    }
    div.left_section {
        width: 33%;
        margin-bottom: 3em;
    }
    div.center_section {
        float: left;
        width: 33%;
    }
    button#custom_check, button#fake_set {
        margin-bottom: 0.5em;
        height: 5em;
    }
    div.right_section {
        position: absolute;
        right: 0;
        top: 0;
        width: 33%;
        margin-top: 0;
        transition: 0.5s;
    }
    // board_home
    div.board_list_ctgr {
        transition: 0.5s;
        float: left;
        width: 48.3%!important;
        height: 450px;
    }
    div.set_detail_left {
        float: left;
        width: 60%;
        margin-left: 20%;
        transition: 0.5s;
    }
    div.set_detail_right {
        margin: 0 1em;
        display: block;
        float: right;
        width: 16%;
    }
    div.board_detail {
        width: 60%;
        margin: auto;
        transition: 0.5s;
    }
    div.comment_area, div.a_comment {
        width: 60%;
        margin: auto;
        margin-bottom: 1em;
    }
    
}