{% extends 'base.html' %}

{% block title %}{{ object.user }}{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<section>
    <h1>작성자 : {{ object.user }}</h1>
    <p>작성일 : {{ object.create_date }} </p>
    <ul>
        <li>CPU : {{ object.cpu }}</li>
        <li>Board : {{ object.board }}</li>
        <li>RAM : {{ object.ram }}</li>
        <li>VGA : {{ object.vga }}</li>
        <li>Power : {{ object.power }}</li>
        <li>HDD : {{ object.hdd }}</li>
        <li>SSD : {{ object.ssd }}</li>
        <li>ODD : {{ object.odd }}</li>
    </ul>
    <p>{{ object.text }}</p>
    <a href="{% url 'custom:custom_list' %}">목록보기</a>
</section>
<span>
	<script type="text/javascript" src="http://share.naver.net/js/naver_sharebutton.js"></script>
	<script type="text/javascript">
	new ShareNaver.makeButton({"type": "e" , "title":""});
	</script>
</span>
<div class="fb-share-button" data-href="http://logia7.pythonanywhere.com/custom/{{ object.id }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flogia7.pythonanywhere.com%2Fcustom%2F{{object.id}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>

{% endblock %}