{% extends 'base.html' %}

{% block title %} 상세보기 {% endblock %}

{% block content %}
<div class="board_list_nav clearfix">
    <h1><a href="{% url 'board:board_home' %}">게시판</a></h1>
</div>
<!--FB SDK-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<section class="clearfix">
    <div class="set_detail_left">
        <div class="detail_set d_style">
            <h2>견적내용</h2>
            <p class="d_info">작성자: {{ set.user }} 작성일 : {{ set.create_date|date:"Y년 m월 d일 h:i" }} </p>
            <ul class="d_text">
                <span>CPU</span>
                <li onmouseout="addText('CPU')">{% if set.cpu.hard_thumbnail %}<img src="{{ set.cpu.hard_thumbnail.url }}" alt="{{ set.cpu }}">{% endif %} {% if set.cpu == None %}미선택{% else %}{{ set.cpu }}{% endif %}</li>
                <span>Board</span>
                <li onmouseover="addText('Board')">{% if set.board.hard_thumbnail %}<img src="{{ set.board.hard_thumbnail.url }}" alt="{{ set.board }}">{% endif %} {% if set.board == None %}미선택{% else %}{{ set.board }}{% endif %}</li>
                <span>RAM</span>
                <li onmouseover="addText('RAM')">{% if set.ram.hard_thumbnail %}<img src="{{ set.ram.hard_thumbnail.url }}" alt="{{ set.ram }}">{% endif %} {% if set.ram == None %}미선택{% else %}{{ set.ram }}{% endif %}</li>
                <span>VGA</span>
                <li onmouseover="addText('VGA')">{% if set.vga.hard_thumbnail %}<img src="{{ set.vga.hard_thumbnail.url }}" alt="{{ set.vga }}">{% endif %} {% if set.vga == None %}미선택{% else %}{{ set.vga }}{% endif %}</li>
                <span>Power</span>
                <li onmouseover="addText('Power')">{% if set.power.hard_thumbnail %}<img src="{{ set.power.hard_thumbnail.url }}" alt="{{ set.power }}">{% endif %} {% if set.power == None %}미선택{% else %}{{ set.power }}{% endif %}</li>
                <span>HDD</span>
                <li onmouseover="addText('HDD')">{% if set.hdd.hard_thumbnail %}<img src="{{ set.hdd.hard_thumbnail.url }}" alt="{{ set.hdd }}">{% endif %} {% if set.hdd == None %}미선택{% else %}{{ set.hdd }}{% endif %}</li>
                <span>SSD</span>
                <li onmouseover="addText('SSD')">{% if set.ssd.hard_thumbnail %}<img src="{{ set.ssd.hard_thumbnail.url }}" alt="{{ set.ssd }}">{% endif %} {% if set.ssd == None %}미선택{% else %}{{ set.ssd }}{% endif %}</li>
                <span>ODD</span>
                <li onmouseover="addText('ODD')">{% if set.odd.hard_thumbnail %}<img src="{{ set.odd.hard_thumbnail.url }}" alt="{{ set.odd }}">{% endif %} {% if set.odd == None %}미선택{% else %}{{ set.odd }}{% endif %}</li>
            </ul>
        </div>
        <div class="detail_text d_style">
            <h2>추가설명</h2>
            <p>{{ set.text }}</p>
        </div>
        <!-- SNS 공유 -->
        <div class="clearfix">
            <div class="detail_share">
                <span>
                    <script type="text/javascript" src="http://share.naver.net/js/naver_sharebutton.js"></script>
                    <script type="text/javascript">
                    new ShareNaver.makeButton({"type": "e" , "title":""});
                    </script>
                </span>
                <div class="fb-share-button" data-href="http://logia7.pythonanywhere.com/custom/{{ object.id }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flogia7.pythonanywhere.com%2Fcustom%2F{{object.id}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>
            </div>
            <div class="detail_nav">
            <a href="{% url 'board:board_set_list' %}" class="button_st">목록보기</a> {% if user == set.user %}<a href="{% url 'custom:custom_edit' pk=set.pk %}" class="button_st">수정</a> <a href="{% url 'custom:custom_delete' pk=set.pk %}" class="button_st">삭제</a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="set_detail_right">
      <h2>도움말</h2>
      <p id="guide"></p>
    </div>
</section>
<div class="comment_area clearfix">
    {% if user.is_authenticated %}
    <h3>댓글</h3>
    {% endif %}
    {% include "custom/add_comment.html" %}
</div>
{% for comment in set.custom_comments.all %}
    <div class="a_comment">
        <p class="comment_info">{{comment.author}}<span>{{comment.create_date|date:'Y년 m월 d일 h:i'}}</span></p>
        <p class="comment_text">{{comment.text}}</p>
        {% if user == set.user or user == comment.author or user.is_superuser %}
        <a href="#" class="ment_re button_st" id="{{ comment.id }}">댓글삭제</a>
        {% endif %}
    </div>
    {% empty %}
    <div class="a_comment">
        <p>등록된 댓글이 없습니다.</p>
    </div>
    {% endfor %}
<script>
    $('a.ment_re').click(function() {
        ment = confirm('정말 삭제하시겠습니까?')
        pk = $('a.ment_re').attr('id')
        if (ment === true) {
            location.href="/custom/"+pk+"/comment/remove"
        } else {
            alert('취소되었습니다.')
        }
    })
    function addText(type) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status ==200) {
        text = JSON.parse(this.responseText)
        text = text[type]
        $('p#guide').text(text)
        $('p#guide').siblings('h2').text(type+'란?');
      };
    };
    xhttp.open("GET","{% url 'get_text' %}",true)
    xhttp.send()
  };
</script>
{% endblock %}