{% extends 'base.html' %}

{% block content %}
<div>
  <p>
    <h2>주요설명을 보시려면 상단메뉴바의 개발설명의 참고해 주시길 바랍니다.</h2>
    <h3>조립식 컴퓨터 견적을 사용자가 만들고 호환성 검사를 하고, 저장하여 다른 유저와 공유하는 컨셉입니다.</h3>
    *현재 페이지는 하드웨어를 선택해서 조립식 컴퓨터 견적을 만들고
    견적에 올라온 하드웨어를 메인보드를 기준으로 호환성 검사를 할 수 있습니다.<br>
    부품이 선택되면 AJAX 를 이용해서 해당 부품의 정보, 하드웨어 타입별 정보를 화면에 표시하고 저장합니다. 저장은 회원부터 가능합니다.<br>
    <b>언어: Java Script 라이브러리: jQuery</b>
  </p>
</div>
<div class="main clearfix">
  <div class="left_section clearfix">
    <!-- 폼출력 버튼 -->
    <div class="left_section_button">
      <h2>PC 주요부품</h2>
      <form action="" method="post">{% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        <ul>
          <li id="cpu">CPU</li>
          <p id="select_cpu" class="hw_select" style="display:none">
            <label for="id_cpu_new">Cpu:</label>
            <select name="cpu" id="id_cpu_new" size="5">
              {% for hard in cpu %}
              <option value="{{ hard.id }}" onclick="checkit({{hard.id}},'{{hard.hardware_kind}}')" id="{{ hard.id }}">{{ hard.name }}: {{hard.cpu.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="board">Board</li>
          <p id="select_board" class="hw_select" style="display:none">
            <label for="id_board_new">Board:</label>
            <select name="board" id="id_board_new" size="5">
              {% for hard in board %}
              <option value="{{ hard.id }}" onclick="checkit({{hard.id}},'{{hard.hardware_kind}}')" id="{{ hard.id }}">{{ hard.name }}:{{hard.board.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="ram">RAM</li>
          <p id="select_ram" class="hw_select" style="display:none">
            <label for="id_ram_new">Ram:</label>
            <select name="ram" id="id_ram_new" size="5">
              {% for hard in ram %}
              <option value="{{ hard.id }}" onclick="checkit({{hard.id}},'{{hard.hardware_kind}}')" id="{{ hard.id }}">{{ hard.name }}:{{hard.ram.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="vga">VGA</li>
          <p id="select_vga" class="hw_select" style="display:none">
            <label for="id_vga_new">Vga:</label>
            <select name="vga" id="id_vga_new" size="5">
              {% for hard in vga %}
              <option value="{{ hard.id }}" onclick="checkit({{hard.id}},'{{hard.hardware_kind}}')" id="{{ hard.id }}">{{ hard.name }}:{{hard.vga.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="power">Power</li>
          <p id="select_power" class="hw_select" style="display:none">
            <label for="id_power_new">Power:</label>
            <select name="power" id="id_power_new" size="5">
              {% for hard in power %}
              <option value="{{ hard.id }}" id="{{ hard.id }}">{{ hard.name }}:{{hard.power.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="hdd">HDD</li>
          <p id="select_hdd" class="hw_select" style="display:none">
            <label for="id_hdd_new">Hdd:</label>
            <select name="hdd" id="id_hdd_new" size="5">
              {% for hard in hdd %}
              <option value="{{ hard.id }}" id="{{ hard.id }}">{{ hard.name }}:{{hard.hdd.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="ssd">SSD</li>
          <p id="select_ssd" class="hw_select" style="display:none">
            <label for="id_ssd_new">Ssd:</label>
            <select name="ssd" id="id_ssd_new" size="5">
              {% for hard in ssd %}
              <option value="{{ hard.id }}" id="{{ hard.id }}">{{ hard.name }}:{{hard.ssd.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
          <li id="odd">ODD</li>
          <p id="select_odd" class="hw_select" style="display:none">
            <label for="id_odd_new">Odd:</label>
            <select name="odd" id="id_odd_new" size="5">
              {% for hard in odd %}
              <option value="{{ hard.id }}">{{ hard.name }}:{{hard.odd.all.count}} {{hard.hit}}</option>
              {% endfor %}
            </select>
          </p>
        </ul>
        <p class="hw_select" style="display:none">
          <label for="id_text">Text:</label>
          <textarea name="text" cols="40" rows="10" id="id_text"></textarea>
        </p>
        <button type="submit" id="save_set" style="display:none">저장</button>
      </form>
    </div>
    <!-- 폼 : 장고의 필터링된 쿼리셋을 이용해서 부품타입별 필터링-->
  </div>
  <!-- 세트 출력 -->
  <div class="center_section">
    <h2>선택한 부품</h2>
    <ul>
      <span class="chosen_hw">CPU</span><li><img src="" alt="CPU" id="cpu_th"><span id="up_cpu"></span></li>
      <span class="chosen_hw">Board</span><li><img src="" alt="board" id="board_th"><span id="up_board"></span></li>
      <span class="chosen_hw">RAM</span><li><img src="" alt="RAM" id="ram_th"><span id="up_ram"></span></li>
      <span class="chosen_hw">VGA</span><li><img src="" alt="VGA" id="vga_th"><span id="up_vga"></span></li>
      <span class="chosen_hw">Power</span><li><img src="" alt="power" id="power_th"><span id="up_power"></span></li>
      <span class="chosen_hw">HDD</span><li><img src="" alt="HDD" id="hdd_th"><span id="up_hdd"></span></li>
      <span class="chosen_hw">SSD</span><li><img src="" alt="SSD" id="ssd_th"><span id="up_ssd"></span></li>
      <span class="chosen_hw">ODD</span><li><img src="" alt="ODD" id="odd_th"><span id="up_odd"></span></li>
    </ul>
  </div>
  <button type="button" id="custom_check" onclick="checkmypc()" class="button_st">호환성 검사</button>
  {% if user.is_authenticated %}
  <button type="submit" id="fake_set" class="button_st">저장</button>
  {% endif %}
  <!-- 세트의 정보 -->
  <div class="right_section">
    <div>
      <h2>도움말</h2>
      <p id="guide" class="d_style"></p>
    </div>
    <div>
      <h2>부품 사양</h2>
      <p id="spec" class="d_style"></p>
    </div>
  </div>
</div>
<script>
  $(document).ready(setEdit());
  function setEdit() {
    $('div.center_section li img').hide()
    cpu = $('input#id_cpu').val();
    $('select#id_cpu_new').val(cpu).prop("selected", true);
    $('span#up_cpu').text($('select#id_cpu_new option:selected').text())
    board = $('input#id_board').val();
    $('select#id_board_new').val(board).prop("selected", true);
    $('span#up_board').text($('select#id_board_new option:selected').text())
    ram = $('input#id_ram').val();
    $('select#id_ram_new').val(ram).prop("selected", true);
    $('span#up_ram').text($('select#id_ram_new option:selected').text())
    vga = $('input#id_vga').val();
    $('select#id_vga_new').val(vga).prop("selected", true);
    $('span#up_vga').text($('select#id_vga_new option:selected').text())
    power = $('input#id_power').val();
    $('select#id_power_new').val(power).prop("selected", true);
    $('span#up_power').text($('select#id_power_new option:selected').text())
    hdd = $('input#id_hdd').val();
    $('select#id_hdd_new').val(hdd).prop("selected", true);
    $('span#up_hdd').text($('select#id_hdd_new option:selected').text())
    ssd = $('input#id_ssd').val();
    $('select#id_ssd_new').val(ssd).prop("selected", true);
    $('span#up_ssd').text($('select#id_ssd_new option:selected').text())
    odd = $('input#id_odd').val();
    $('select#id_odd_new').val(odd).prop("selected", true);
    $('span#up_odd').text($('select#id_odd_new option:selected').text())
  };
  //cpu
  $('li#cpu').click(function () {
    $('p.hw_select').hide();
    $('p#select_cpu').show();
    addText('CPU')
  })
  $('select#id_cpu_new').click(function () {
    var cpu_id = $('select#id_cpu_new option:selected').attr('id');
    var checkcpu = [{% for hard in cpu %}{ 'id': '{{ hard.id }}', 'name':'{{ hard }}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var cpu = $('select#id_cpu_new option:selected').attr('value')
    for (var i=0; i<checkcpu.length; i++) {
      if (checkcpu[i]['id'] == cpu) {
        cpu = checkcpu[i]['name']
        cpu_src = checkcpu[i]['src']
        $('span#up_cpu').text(cpu);
        $('img#cpu_th').show()
        $('img#cpu_th').attr('src','/media/'+cpu_src)
      }
    }
    addSpec(cpu_id,checkcpu);
  })

  //board
  $('li#board').click(function () {
    $('p.hw_select').hide();
    $('p#select_board').show();
    addText('Board')
  })
  $('select#id_board_new').click(function () {
    var board_id = $('select#id_board_new option:selected').attr('id');
    var checkboard = [{% for hard in board %}{ 'id': '{{ hard.id }}','name':'{{hard}}', 'option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var board = $('select#id_board_new option:selected').attr('value');
    for (var i=0; i<checkboard.length; i++) {
      if (checkboard[i]['id'] == board) {
        board = checkboard[i]['name']
        board_src = checkboard[i]['src']
        $('span#up_board').text(board);
        $('img#board_th').show()
        $('img#board_th').attr('src','/media/'+board_src)
      }
    }
    addSpec(board_id,checkboard);
  })

  //ram
  $('li#ram').click(function () {
    $('p.hw_select').hide();
    $('p#select_ram').show();
    addText('RAM')
  })
  $('select#id_ram_new').click(function () {
    var ram_id = $('select#id_ram_new option:selected').attr('id');
    var checkram = [{% for hard in ram %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var ram = $('select#id_ram_new option:selected').attr('value')
    for (var i=0; i<checkram.length; i++) {
      if (checkram[i]['id'] == ram) {
        ram = checkram[i]['name']
        ram_src = checkram[i]['src']
        $('span#up_ram').text(ram);
        $('img#ram_th').show()
        $('img#ram_th').attr('src','/media/'+ram_src)
      }
    }
    addSpec(ram_id,checkram);
  })

  //vga
  $('li#vga').click(function () {
    $('p.hw_select').hide();
    $('p#select_vga').show();
    addText('VGA')
  })
  $('select#id_vga_new').click(function () {
    var vga_id = $('select#id_vga_new option:selected').attr('id');
    var checkvga = [{% for hard in vga %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var vga = $('select#id_vga_new option:selected').attr('value')
    for (var i=0; i<checkvga.length; i++) {
      if (checkvga[i]['id'] == vga) {
        vga = checkvga[i]['name']
        vga_src = checkvga[i]['src']
        $('span#up_vga').text(vga);
        $('img#vga_th').show()
        $('img#vga_th').attr('src','/media/'+vga_src)
      }
    }
    addSpec(vga_id,checkvga);
  })

  //power
  $('li#power').click(function () {
    $('p.hw_select').hide();
    $('p#select_power').show();
    addText('Power')
  })
  $('select#id_power_new').click(function () {
    var power_id = $('select#id_power_new option:selected').attr('id');
    var checkpower = [{% for hard in power %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var power = $('select#id_power_new option:selected').attr('value')
    for (var i=0; i<checkpower.length; i++) {
      if (checkpower[i]['id'] == power) {
        power = checkpower[i]['name']
        power_src = checkpower[i]['src']
        $('span#up_power').text(power);
        $('img#power_th').show()
        $('img#power_th').attr('src','/media/'+power_src)
      }
    }
    addSpec(power_id,checkpower);
  })

  //hdd
  $('li#hdd').click(function () {
    $('p.hw_select').hide();
    $('p#select_hdd').show();
    addText('HDD')
  })
  $('select#id_hdd_new').click(function () {
    var hdd_id = $('select#id_hdd_new option:selected').attr('id');
    var checkhdd = [{% for hard in hdd %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var hdd = $('select#id_hdd_new option:selected').attr('value')
    for (var i=0; i<checkhdd.length; i++) {
      if (checkhdd[i]['id'] == hdd) {
        hdd = checkhdd[i]['name']
        hdd_src = checkhdd[i]['src']
        $('span#up_hdd').text(hdd);
        $('img#hdd_th').show()
        $('img#hdd_th').attr('src','/media/'+hdd_src)
      }
    }
    addSpec(hdd_id,checkhdd);
  })

  //ssd
  $('li#ssd').click(function () {
    $('p.hw_select').hide();
    $('p#select_ssd').show();
    addText('SSD')
  })
  $('select#id_ssd_new').click(function () {
    var ssd_id = $('select#id_ssd_new option:selected').attr('id');
    var checkssd = [{% for hard in ssd %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var ssd = $('select#id_ssd_new option:selected').attr('value')
    for (var i=0; i<checkssd.length; i++) {
      if (checkssd[i]['id'] == ssd) {
        ssd = checkssd[i]['name']
        ssd_src = checkssd[i]['src']
        $('span#up_ssd').text(ssd);
        $('img#ssd_th').show()
        $('img#ssd_th').attr('src','/media/'+ssd_src)
      }
    }
    addSpec(ssd_id,checkssd);
  })

  //odd
  $('li#odd').click(function () {
    $('p.hw_select').hide();
    $('p#select_odd').show();
    addText('ODD')
  })
  $('select#id_odd_new').click(function () {
    var odd_id = $('select#id_odd_new option:selected').attr('id');
    var checkodd = [{% for hard in odd %}{ 'id': '{{ hard.id }}','name':'{{hard}}','option': '{{ hard.option}}','src':'{{ hard.hard_thumbnail }}' }, {% endfor %}];
    var odd = $('select#id_odd_new option:selected').attr('value')
    for (var i=0; i<checkodd.length; i++) {
      if (checkodd[i]['id'] == odd) {
        odd = checkodd[i]['name']
        odd_src = checkodd[i]['src']
        $('span#up_odd').text(odd);
        $('img#odd_th').show()
        $('img#odd_th').attr('src','/media/'+odd_src)
      }
    }
    addSpec(odd_id,checkodd);
  })

  function addText(type) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status ==200) {
        text = JSON.parse(this.responseText)
        text = text[type]
        $('p#guide').text(text)
        $('p#guide').siblings('h2').text(type+'란?');
      };
    };
    xhttp.open("GET","{% url 'get_text' %}",true)
    xhttp.send()
  };
  // 하드웨어를 구분하고 옵션을 화면에
  function addSpec(id,check){
    for (var i = 0; i < check.length; i++) {
      if ( id === check[i]['id']) {
        var option = check[i]['option'];
        return $('p#spec').text(option);
      }
    }
  }
  $('button#fake_set').click(function () {
    var save = confirm('저장하시겠습니까?')
    if (save == true) {
        var que = confirm('이 견적에 추가설명을 쓰시겠습니까?');
        if (que == true) {
        var text = prompt('설명을 입력해주세요.');
        $('textarea#id_text').val(text);
        $('button#save_set').trigger("click");
        } else {
          $('button#save_set').trigger("click");
        }
    } else {
      alert('취소되었습니다.')
    }
  })
  var myPc = {};
  var yourPc ='';
  function checkmypc() {
    if (myPc["CPU"] == undefined) {
      yourPc += 'CPU: 미선택\n';
    } else if (myPc["CPU"]) {
      if (($.inArray(myPc["CPU"][0], myPc["BRD"]) != -1)) {
        yourPc += 'CPU: 적합\n';
      } else {
        yourPc += 'CPU: 부적합 Board가 ' + myPc["CPU"][0] + '를 호환하지 않습니다.\n';
      }
    }
    if (myPc["RAM"] == undefined) {
      yourPc += 'RAM: 미선택\n';
    } else if (myPc["RAM"]) {
      if ($.inArray(myPc["RAM"][0], myPc["BRD"]) != -1) {
        yourPc += 'RAM: 적합\n';
      } else {
        yourPc += 'RAM: 부적합 Board 가' + myPc["RAM"][0] + '를 호환하지 않습니다.\n';
      }
    }
    if (myPc["VGA"] == undefined) {
      yourPc += 'VGA: 미선택\n';
    } else if (myPc["VGA"]) {
      if ($.inArray(myPc["RAM"][0], myPc["BRD"]) != -1) {
        yourPc += 'VGA: 적합\n';
      } else {
        yourPc += 'VGA: 부적합 Board 가' + myPc["VGA"][0] + '를 호환하지 않습니다.\n';
      }  
    }
    alert(yourPc);
    yourPc = '';
  }
  function checkit(hwid, hwtype) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var obj = JSON.parse(this.responseText);
        obj_hard = JSON.parse(obj.hard);
        obj_compa = JSON.parse(obj.compa);
        if (obj_hard[0]['fields']['hardware_kind'] === "BRD" ||
          obj_hard[0]['fields']['hardware_kind'] === "CPU" ||
          obj_hard[0]['fields']['hardware_kind'] === "VGA" ||
          obj_hard[0]['fields']['hardware_kind'] === "RAM") {
          var objVal = [], objName;
          for (var i = 0; i < obj_compa.length; i++) {
            objVal.push(obj_compa[i]["fields"]["comp_mode"])
          }
          objName = obj_hard[0]['fields']['hardware_kind'];
          var keyname = objName;
          myPc[keyname] = objVal;
        }
      }
    }
    xhttp.open("GET", "{% url 'get_compa' %}?hwid=" + hwid + '&hwtype=' + hwtype, true);
    xhttp.send();
  }
</script>
{% endblock %}