{% extends 'base.html' %} {% block title %} Custom Pc {% endblock %} {% block content %}
<div class="clearfix">
  <div class="left_section clearfix">
    <!-- 폼출력 버튼 -->
    <div class="left_section_button">
      <ul>
        <li id="cpu">CPU</li>
        <li id="board">Board</li>
        <li id="ram">RAM</li>
        <li id="vga">VGA</li>
        <li id="power">Power</li>
        <li id="hdd">HDD</li>
        <li id="ssd">SSD</li>
        <li id="odd">ODD</li>
      </ul>
    </div>
    
    <!-- 폼 -->
    <div class="select_form">
      <form action="" method="post">{% csrf_token %}
        <p id="select_cpu" class="hw_select">
          <label for="id_cpu">Cpu:</label>
          <select name="cpu" id="id_cpu" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'CPU' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_board" class="hw_select">
          <label for="id_board">Board:</label>
          <select name="board" id="id_board" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'BRD' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_ram" class="hw_select">
          <label for="id_ram">Ram:</label>
          <select name="ram" id="id_ram" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'RAM' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_vga" class="hw_select">
          <label for="id_vga">Vga:</label>
          <select name="vga" id="id_vga" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'VGA' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_power" class="hw_select">
          <label for="id_power">Power:</label>
          <select name="power" id="id_power" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'POW' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_hdd" class="hw_select">
          <label for="id_hdd">Hdd:</label>
          <select name="hdd" id="id_hdd" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'HDD' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_ssd" class="hw_select">
          <label for="id_ssd">Ssd:</label>
          <select name="ssd" id="id_ssd" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'SSD' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <p id="select_odd" class="hw_select">
          <label for="id_odd">Odd:</label>
          <select name="odd" id="id_odd" size="5">
            <option value="" selected>---------</option>
            {% for hard in hards %} {% if hard.hardware_kind == 'ODD' %}
            <option value="{{ hard.id }}">{{ hard.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </p>
        <button type="submit" id="save_set" style="display:none">저장</button>
      </form>
    </div>
  </div>
  <!-- 세트 출력 -->
  <div class="center_section">
    <ul>
      <li>CPU : <span id="up_cpu"></span></li>
      <li>Board : <span id="up_board"></span></li>
      <li>RAM : <span id="up_ram"></span></li>
      <li>VGA : <span id="up_vga"></span></li>
      <li>Power : <span id="up_power"></span></li>
      <li>HDD : <span id="up_hdd"></span></li>
      <li>SSD : <span id="up_ssd"></span></li>
      <li>ODD : <span id="up_odd"></span></li>
    </ul>
    <button type="button" id="custom_check">호환성 검사</button>
    <button type="submit" id="fake_set">저장</button>
  </div>
  <!-- 세트의 정보 -->
  <div class="right_section">
    <div>
      <h2>좌즉의 카테고리를 클릭하여 선택하십시오.</h2>
      <p id="guide"></p>
    </div>
    <div>
      <h2>부품 사양</h2>
      <p id="spec"></p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('p.hw_select').hide();
  })
  //json parse
  var checkspec = [{% for hard in hards %}{'title':'{{ hard }}','option':'{{ hard.option }}'},{% endfor %}]
  var checkcompa = [{% for compa in compa %}{'title':'{{ compa.hardware.get }}','compa':'{{ compa }}'},{% endfor %}]
  
  //cpu
  $('li#cpu').click(function () {
    $('p.hw_select').hide();
    $('p#select_cpu').show();
    $('p#guide').siblings('h2').text('CPU란?')
    $('p#guide').text('CPU는 컴퓨터의 연산장치로 컴퓨터의 뇌같은 하드웨어 입니다. 필수로 있어야만 컴퓨터를 조립할 수 있습니다.')
  })
  $('select#id_cpu').click(function() {
    var cpu = $('select#id_cpu option:selected').text()
    $('span#up_cpu').text(cpu)
    for (var i=0; i<=checkspec.length; i++) {
      if ( cpu === checkspec[i]['title'] ) {
        cpuspec = checkspec[i]['option']
        return $('p#spec').text(cpuspec)
      }
    }
  })

  //board
  $('li#board').click(function () {
    $('p.hw_select').hide();
    $('p#select_board').show();
    $('p#guide').siblings('h2').text('Board란?')  
    $('p#guide').text('Board는 마더보드라고도 합니다. 보드가 있어야만 다른 하드웨어들을 장착할 수 있기때문에 필수입니다.')
  })
  $('select#id_board').click(function() {
    var board = $('select#id_board option:selected').text()
    $('span#up_board').text(board)
    for (var i=0; i<=checkspec.length; i++) {
      if ( board == checkspec[i]['title'] ) {
        boardspec = checkspec[i]['option']
        return $('p#spec').text(boardspec)
      }
    }
  })

  //ram
  $('li#ram').click(function () {
    $('p.hw_select').hide();
    $('p#select_ram').show();
    $('p#guide').siblings('h2').text('RAM란?')
    $('p#guide').text('RAM은 기억된 정보를 읽어내기도 하고 다른 정보를 기억시킬 수도 있는 메모리로서, 컴퓨터의 주기억장치, 응용 프로그램의 일시적 로딩과 데이터의 일시적 저장 등에 사용된다. 컴퓨터 작동을 위해서는 필수요소입니다.')
  })
  $('select#id_ram').click(function() {
    var ram = $('select#id_ram option:selected').text()
    $('span#up_ram').text(ram)
    for (var i=0; i<=checkspec.length; i++) {
      if ( ram == checkspec[i]['title'] ) {
        ramspec = checkspec[i]['option']
        return $('p#spec').text(ramspec)
      }
    }
  })

  //vga
  $('li#vga').click(function () {
    $('p.hw_select').hide();
    $('p#select_vga').show();
    $('p#guide').siblings('h2').text('VGA란?')
    $('p#guide').text('VGA는 그래픽카드입니다. 그래픽카드는 고사양을 필요로하는 게임과, 디자이너들이 사용합니다. 그래서 서핑과 컴퓨터에 적게 투자하여 이용하시고 싶으신 분들에게는 권장하지 않습니다.')
  })
  $('select#id_vga').click(function() {
    var vga = $('select#id_vga option:selected').text()
    $('span#up_vga').text(vga)
    for (var i=0; i<=checkspec.length; i++) {
      if ( vga == checkspec[i]['title'] ) {
        vgaspec = checkspec[i]['option']
        return $('p#spec').text(vgaspec)
      }
    }
  })

  //power
  $('li#power').click(function () {
    $('p.hw_select').hide();
    $('p#select_power').show();
    $('p#guide').siblings('h2').text('Power란?')
    $('p#guide').text('Power는 컴퓨터의 전력을 공급하는 역할을 합니다. 필수로 있어야만 하는 하드웨어입니다. ex) 그래픽카드를 구매하시는 분들은 그래픽카드의 권장 정격과 파워의 정격을 확인하고 구매하시기 바랍니다.')
  })
  $('select#id_power').click(function() {
    var power = $('select#id_power option:selected').text()
    $('span#up_power').text(power)
    for (var i=0; i<=checkspec.length; i++) {
      if ( power == checkspec[i]['title'] ) {
        powerspec = checkspec[i]['option']
        return $('p#spec').text(powerspec)
      }
    }
  })

  //hdd
  $('li#hdd').click(function () {
    $('p.hw_select').hide();
    $('p#select_hdd').show();
    $('p#guide').siblings('h2').text('HDD란?')
    $('p#guide').text('HDD는 기억해야할 데이터를 기억해주는 역할을 합니다. 필수요소 입니다.')
  })
  $('select#id_hdd').click(function() {
    var hdd = $('select#id_hdd option:selected').text()
    $('span#up_hdd').text(hdd)
    for (var i=0; i<=checkspec.length; i++) {
      if ( hdd == checkspec[i]['title'] ) {
        hddspec = checkspec[i]['option']
        return $('p#spec').text(hddspec)
      }
    }
  })

  //ssd
  $('li#ssd').click(function () {
    $('p.hw_select').hide();
    $('p#select_ssd').show();
    $('p#guide').siblings('h2').text('SSD란?')
    $('p#guide').text('SSD는 HDD보다 빠른속도를 가지고 있습니다. 그래서 HDD보다 더 많이 사용되고 있습니다.')
  })
  $('select#id_ssd').click(function() {
    var ssd = $('select#id_ssd option:selected').text()
    $('span#up_ssd').text(ssd)
    for (var i=0; i<=checkspec.length; i++) {
      if ( ssd == checkspec[i]['title'] ) {
        ssdspec = checkspec[i]['option']
        return $('p#spec').text(ssdspec)
      }
    }
  })

  //odd
  $('li#odd').click(function () {
    $('p.hw_select').hide();
    $('p#select_odd').show();
    $('p#guide').siblings('h2').text('ODD란?')
    $('p#guide').text('ODD는 CD를 읽는 하드웨어입니다. 운영체재나 소프트웨어를 설치할때 사용합니다.')
  })
  $('select#id_odd').click(function() {
    var odd = $('select#id_odd option:selected').text()
    $('span#up_odd').text(odd)
    for (var i=0; i<=checkspec.length; i++) {
      if ( odd == checkspec[i]['name'] ) {
        oddspec = checkspec[i]['option']
        return $('p#spec').text(oddspec)
      }
    }
  })

  var cpucompa ='';
  var ramcompa ='';
  var vgacompa ='';
  var boardcompa ='';
  $('button#fake_set').click(function() {
    $('button#save_set').trigger("click")
  })
  $('button#custom_check').click(function() {
    var board = $('select#id_board option:selected').text()
    var cpu = $('select#id_cpu option:selected').text()
    var ram = $('select#id_ram option:selected').text()
    var vga = $('select#id_vga option:selected').text()
    for (var i=0; i<=checkcompa.length;i++) {
      if ( checkcompa[i]['title'] === cpu ) {
        cpucompa = checkcompa[i]['compa']
      } else if ( checkcompa[i]['title'] === ram ) {
        ramcompa = checkcompa[i]['compa']
      } else if ( checkcompa[i]['title'] === vga ) {
        vgacompa = checkcompa[i]['compa']
      } else if ( checkcompa[i]['title'] === board ) {
        boardcompa += checkcompa[i]['compa']+','
      }
    }
    boardcompa = boardcompa.split(',')
  })
</script> 
{% endblock %}