{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Custom Pc</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset='euc-kr'></script>
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    {% block bootstrap %}{% endblock %}
</head>
<body>
    <header>
        <nav class="clearfix">
            <div class="headnav_left">
                <ul>
                    <li><a href="/">메인화면</a></li>
                    <li><a href="{% url 'board:board_home' %}">게시판</a></li>
                    <li><a href="{% url 'portfolio_short' %}">개발설명</a></li>
                </ul>
            </div>
            <div class="headnav_right">
                <ul>
                    {% if request.user.is_superuser or request.user.is_manager %}
                    <li><a href="{% url 'manager_page' %}">메니저페이지</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'member_home' %}">마이페이지</a></li>
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">회원가입</a></li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="base_logo_area jumbotron">
        <h1>{% block title %}Custom Pc{% endblock %}</h1>
    </div>
    <div class="content_area">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>Copyright Powerd By c22moon</p>
    </footer>
</body>
</html>