{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Pc</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="clearfix">
            <div class="headnav_left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'custom:custom_list' %}">list</a></li>
                </ul>
            </div>
            <div class="headnav_right">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="#">로그아웃</a></li>
                    {% else %}
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">로그인</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="base_logo_area">
        <section>
            <h1>{% block title %}{% endblock %}</h1>
        </section>
    </div>
    <div class="content_area">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>