{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
    <h1>개발설명</h1>
    <div class="short_1 short d_style">
        <h2>언어</h2>
        <p>HTML5, CSS3, Python, Java script</p>
        <h2>라이브러리</h2>
        <p>jQuery, AngularJS, Bootstrap</p>
        <h2>그 외</h2>
        <p>Django, LESS</p>
    </div>
    <div class="short_2 short d_style">
        <h2>주요특징</h2>
        <dl>
            <dt>1.컴퓨터 견적 작성 및 호환성 검사</dt>
            <dd>HTML5, CSS3, Java Script, jQuery, AJAX, Django<br><a href="/"><button class="button_st">해당페이지로</button></a></dd>
            <dt>2.만든 컴퓨터 견적을 SNS에 공유</dt>
            <dd>HTML5, CSS3, Java Script, jQuery, AJAX, NAVER API, FaceBook API, Django<br><a href="/custom/0/detail/"><button class="button_st">해당페이지로</button></a></dd>
            <dt>3.게시판</dt>
            <dd>HTML5, CSS3, Java Script, jQuery, AJAX, AngularJS, Django<br><a href="{% url 'board:board_home' %}"><button class="button_st">해당페이지로</button></a></dd>
            <dt>4.반응협 웹 구현</dt>
            <dd>LESS, CSS3</dd>
        </dl>
    </div>
</div>
<div class="short_3 short d_style">
        <h2>권한별 접근성</h2>
        <table>
            <tr>
                <th>페이지</th>
                <th>슈퍼 유저</th>
                <th>메니저</th>
                <th>일반 회원</th>
                <th>비회원</th>
            </tr>
            <tr>
                <td>게시판 열람</td>
                <td>O</td>
                <td>O</td>
                <td>O</td>
                <td>O</td>
            </tr>
            <tr>
                <td>게시판 새글작성</td>
                <td>O</td>
                <td>O</td>
                <td>O</td>
                <td>X</td>
            </tr>
            <tr>
                <td>견적 저장</td>
                <td>O</td>
                <td>O</td>
                <td>O</td>
                <td>X</td>
            </tr>
            <tr>
                <td>메니저 페이지</td>
                <td>O</td>
                <td>O</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <td>어드민 페이지</td>
                <td>O</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
        </table>
    </div>

{% endblock %}